span label{
    color:#003554;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 600;
 font-style: normal;
}
h1{
    color:#04395e;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #82c0cc;
}
button{
    color: #04395e;
}
button:hover{
    border-radius:10% ;
    border-width:5px ;
    background-color:#001845 ;
    text-decoration-color: #82c0cc;
}